.timeContainer {
    display: flex;
    overflow: auto;
    margin-left: 10px;
    align-items: center;
    height: 4vh;;
    /* padding-left: 10px; */
    font-size: 18px;
    /* width: 70vw; */
}
.timeContainer:hover {
    background-color: rgba(128, 128, 128, 0.767);
}

.fa-edit {
    cursor: pointer;
    font-size: 8px;
    color: rgb(163, 162, 157);

}

@media (max-width: 800px) {
    .timeContainer {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .timeContainer {
        font-size: 9px;
        margin-left: 2px;
    }
    .fa-edit {
        font-size: 9px;
    }
}
@media (max-width: 400px) {
    .timeContainer {
        font-size: 6px;
    }
    .fa-edit {
        font-size: 6px;
    }
}