.timeContainer {
    display: flex;
    overflow: auto;
    margin-left: 10px;
    align-items: center;
    height: 3vh;;
    /* padding-left: 10px; */
    font-size: 10px;
    /* width: 70vw; */
}
.timeContainer:hover {
    background-color: rgba(128, 128, 128, 0.767);
}

.fa-pen{
    cursor: pointer;
    font-size: 8px;
    color: rgb(163, 162, 157);

}
.edit {
    height: 3vh;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.edit button{
    font-size: 8px;
    height: 2vh;
    cursor: pointer;

}
input {
    width: 10vw;
    height: 2vh;
    font-size: 8px;

}
@media (min-width: 400px){
    .edit {
        width: 30vw;
    }
}
@media (min-width: 700px){
    .edit button{
        font-size: 8px;    
        height: 2.5vh;
    }
    .edit {
        width: 25vw;
    }
    .timeContainer{
        font-size: 12px;   
    }

}
@media (min-width: 950px){
  
    .edit {
        width: 18vw;
    }
}
@media (min-width: 1400px){

    .edit {
        width: 16vw;
    }
}


