.background {
    background: url("../../rocksinsand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    /* position: relative;  */
    color: rgb(101, 97, 85);
    display: flex;
    
}
.navContainer {
    height: 100vh;
    width: 30vw;
    background-color: rgba(7, 6, 6, 0.76);
    /* opacity: 0.7; */
    color: rgb(254, 239, 234);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5vh 1vw 52vh 1vw;
    z-index: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);




}
#pushJournal {
    padding-top: 4vh;
}



/* border: 1px solid black; */
/* align-items: center; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat Alternates', sans-serif; */
/* font-family: 'Kurale', serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Fira Sans', sans-serif; */

/* className of 'no-blur' blurs things out!!! */

.blur {
    z-index: 0;
    filter: blur(20px);
    -webkit-filter: blur(50px);
}
.dropdown {
    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
    
}
.dropbtn {
    font-size: 11px;
    height: 8vh;
    width: 100%;
    padding-top: 3.5vh;
    text-decoration: none;
    color: rgb(254, 239, 234);
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

}
/* .dropbtn:hover, */
.dropdown:hover, #pushJournal:hover {
/* .dropdown:focus-within { */
    background-color: rgba(7, 6, 6, 0.877);
    transition: all 1s ease;
    border-radius: 2px;


    /* border: 1px solid black; */

}

.wrapper {
    /* display: none; */
    position: absolute;
    z-index: 1;
    height: 10.5vh;
    width: 62vw;
    overflow: auto;
    border-radius: 3px;
    color: rgb(254, 239, 234);
    box-shadow: px 1px 1px black;  
    background-color: rgba(7, 6, 6, 0.877);
    opacity: 0;
        transition: all .4s ease;
        transform: translateX(-100vw);

}
#youTube {
    height: 15vh;
    margin-left: -11vw;
    border-radius: 3px;
}

.dropdown:hover .wrapper {
    /* display: block; */
    opacity: 1;
    /* transition: all 1s ease; */
    transform: translateX(0vw);
    transition: all .4s ease;
    /* transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; */

}
.bodyContainer {
    width: 70vw;
    display: flex;
    height: 100vh;
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;

}

.timer {
    z-index: 10;
    height: 125px;
    width: 125px;
    border: 8px white solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* font-size: 20px; */
    margin-bottom: 3vh;
    margin-top: 20vh;
    color: white;
    left: 15vw;
    box-shadow:
    0 0 0 0px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 6px black,
    0 0 10px rgba(0,0,0,0.2);

}
#time {
    font-size: 50px;
    
}
.parent {
    display: flex;
    width: 20vw;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    margin-top: 1vh;
    /* border: 1px solid black; */
 
    
}
#resumeBtn {
    padding-right: 2px;
}
#resetBtn {
    padding-left: 2px;
}
.setTimeContainer {
    /* border: 1px solid black; */
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;

}
.finish {
    font-size: 11px;
    height: 4vh;
    width: 26vw;
    background-color: rgba(7, 6, 6, 0.76);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;

}
.finish:hover {
    box-shadow: 0px 3px 8px 0px rgba(7, 6, 6, 0.76);

    /* box-shadow: 0px 1px 1px 1px rgb(101, 97, 85); */

}

.quote {
    color: white;
    font-size:20px;
    padding-top: 5vh;
    padding-left: 1vw;
}
.author {
    font-size: 10px;
    padding-top: 10px
}

@media (min-width:400px) {
    .navContainer{
        width: 25vw;
        font-size: 18px;
    }
    .wrapper {
        width:43vw;
    }
    .dropbtn {
        font-size: 14px;
    }
    .finish {
        width: 18vw;
    }
}
@media (min-width:500px) {
    .finish {
        width: 14vw;
    }
}

@media (min-width:700px) {
    .navContainer{
        font-size: 28px;
    }
    .dropbtn {
        font-size: 20px;
    }
    .wrapper {
        width: 35vw;
        height: 16vh;
    }
    .finish {
        width: 10vw;
    }
    .timer {
        height: 200px;
        width: 200px;
        border: 13px solid white;
    }
    #time {
        font-size: 80px;
    }
    .parent {
        font-size: 30px;
    }
    .quote {
        font-size: 30px;
    }
    .author {
        font-size: 14px;

    }
}
 
@media (min-width:950px) {
    .navContainer{
        font-size: 30px;
        width: 18vw;
    }
    /* .dropbtn {
        font-size: 20px;
    } */
    .finish {
        width: 8vw;
        font-size: 14px;
    }
    .timer {
     
        border: 15px solid white;
    }

    .quote {
        font-size: 40px;
    }
    .author {
        font-size: 20px;

    }
    .wrapper {
        height: 16.5vh;
        width: 25vw;
    }
    #youTube {
        height: 20vh;
        margin-left: -8vw;
    }

}
@media (min-width:1400px) {
    .navContainer{
        width: 18vw;
    }

    .finish {
        width: 6vw;
    }
}

