

.navbar {
    color: rgb(101, 97, 85);
    /* padding: 0;
    margin: 0; */
    /* list-style: none; */
    display: block;
    /* align-items: baseline; */
    /* justify-content: center; */
    /* align-content: space-around; */
    height: 75px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    /* margin-left: 25%;; */
    font-size: 50px;
    border: 1px solid green;
    padding-top: 10px;
}
.navbar .blur {
    z-index: 0;
    filter: blur(3px);
    -webkit-filter: blur(20px);
}
#logout {
   
    font-size: 20px;
    /* padding-right: 15px; */
    /* padding-top: 24px; */    
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}
.title {
    float: center;
    letter-spacing: 2px;
    padding-top: 20px;
    margin-top: 50px;
}

@media (max-width: 320px){
    .title {
        font-size: 40px;
    }
    #logout {
        margin-right: 10px;
        font-size: 12px;
    }
}


#logout:hover {
    color: rgb(32, 32, 32);
    font-weight: 600;
}





