
* {
    scroll-behavior: smooth;
    /* color: rgb(254, 239, 234); */

}
.parallax {
    background-image: url("../../jared-rice-388260-unsplash.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgb( 66, 64, 52);
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* justify-content: space-around; */
    color: rgb(254, 239, 234);
    align-items: center;

    /* padding-top: 200px; */

    align-content: center;
}
.scroll {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px; 
        float: right;
        top: 2vh;
        right: 50px;
        cursor: pointer;
        position: absolute;
        text-decoration: none;
        color: rgb(254, 239, 234);
    }
#title {
    color: rgb(254, 239, 234);
    background-color:rgb(0, 4, 3);
    opacity: 0.7;
    align-content: center;
    height: 75px;
    width: 300px;
    padding-top:5px;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 2px;
    margin-bottom:200px;
    font-size: 65px;
    /* transition: width 1s; */

}
#title:hover {
    font-size: 70px;
    height: 83px;
    width: 310px;
}
#quote {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
}
#author {
    font-size: 16px;
    padding-bottom: 75px;
}
.static {
    height: 60vh;
    background-color: rgb( 230, 228, 229);
    display: flex;
    justify-content: center;


}
.bg1 {
    background-image: url("../../jared-rice-388260-unsplash.jpg");

}

.bg2 {
    background-image: url("../../ian-keefe-354195-unsplash.jpg");
    height: 530px;
}
.loginContainer{
    display: flex;
    height: 40vh;
    /* border: 1px solid gray; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: space-around; */
    width: 30vh;
    font-family: 'Poppins', sans-serif;
    /* font-size: 16px; */

}

.loginButton {
    border: 1px solid rgb(85, 84, 84);
    background-color: rgb(85, 84, 84);
    color: white;
    /* box-shadow: 2px 2px 2px gray; */
    height: 20px;
    width: 129px;
    border-radius: 3px;
    cursor: pointer;

}
.loginInput {
    margin-top: 0vh;
    height: 20px;
    width: 129px;
}

.new {
    font-size: 12px;
    text-decoration: none;
}
.error {
    font-size: 12px;
    color: red;
}
.regButton {
    text-decoration: none;
    font-size: 12px;
    color: rgb(7, 14, 36);
}
.regButton:hover {
    font-size: 13px;
    color: rgb(25, 25, 95);
}
.loginButton:hover {
    font-size: 12px;
    box-shadow: 2px 2px 2px gray;

}