.wrapper {
    height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: white;
    text-shadow: 0 0 2px #000;
    margin: 0;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.static {
    background: rgb(242, 226, 221);
    height: 400px;
}

.bg1::after {
    background-image: url("../../jared-rice-388260-unsplash.jpg");
    background-repeat: no-repeat;
    

}
.bg2::after {
    background-image: url("../../ian-keefe-354195-unsplash.jpg");
    background-position: center center;
}